{
  "parser": "@babel/eslint-parser",
  "plugins": ["@babel"],
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react", "@babel/preset-typescript"]
   },
  },
}
